{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block content %}


<div class="container">
  <div class="row">


<h1>PRODUCT PITCHES</h1>
<button type="button" class="btn btn-default"><a href="/product/pitch"> Post any kind of product pitch</a></button>

<button class="btn btn danger">  <a href="/product/comment">rating</a></button>
<div class="col-md-9">
<h2>POSTED PITCHES</h2>

{{macro.displayPitches(pitches)}}






</div>
<div class="col-md-3">




</div>
</div>
{% endblock%}
</div>
